*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--color_neutral-800);
  background-attachment: fixed;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-size: 0.9rem;
}
a {
  text-decoration: none;
}

a.textLink {
  color: var(--color_neutral-100);
  margin-top: 1em;
  /* position: absolute; */
  display: inline-block;
  align-self: flex-end;
  text-decoration: underline;
}

h3 {
  color: var(--color_neutral-800);
  font-size: 2rem;
  position: relative;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0.2em 0 0.5em 0;
  /* box-shadow: var(--color_neutral-800); */
}

.btn0 {
  text-transform: uppercase;
  text-decoration: none;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--color_neutral-600);
  color: var(--color_neutral-100);
  padding: 0.6em 1.2em;
  font-weight: 600;
}

.btn {
  text-transform: uppercase;
  color: var(--color_neutral-100);
  background-color: var(--color_accent);
  font-weight: bold;
  font-kerning: 1px;
  padding: 1em 2em;
  text-align: center;
}

:root {
  --color_accent: hsl(14, 100%, 43%);
  --color_neutral-100: hsl(0, 0%, 95%);
  --color_neutral-200: hsl(0, 0%, 90%);
  --color_neutral-300: hsl(0, 0%, 85%);
  --color_neutral-400: hsl(0, 0%, 70%);
  --color_neutral-600: hsl(0, 0%, 30%);
  --color_neutral-700: hsl(0, 0%, 23%);
  --color_neutral-800: hsl(0, 0%, 16%);
  --color_neutral-900: hsl(0, 0%, 10%);
  /* --containWidth: clamp(100vw, 600px, 600px); */
  --containWidth: min(100%, 600px);
}

.header {
  display: flex;
  position: absolute;
  width: 100%;
  flex-direction: column;
  /* background-color:  */
}
.header .myContain__header {
  /* height: auto; */
  margin: auto;
  width: var(--containWidth);
  /* max-width: 40rem; */
  /* background-color: violet; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  /* outline: 1px solid violet; */
  z-index: 5;
}

.header img.logo {
  height: 3rem;
}
.header ul {
  display: flex;
  flex-flow: row;
  flex-direction: row;
  /* outline: 1px solid violet; */
  /* width: 40%; */
}
.header ul li {
  list-style: none;
  margin-right: 1.2rem;
  text-transform: uppercase;
  font-size: 0.95rem;
  font-weight: 500;
  font-kerning: 1px;
  /* outline: 1px solid violet; */
}
.header a {
  color: var(--color_neutral-100);
  font-weight: 500;
}
.header a:hover {
  color: var(--color_neutral-100);
  font-weight: 700;
}

.myContain {
  width: var(--containWidth);
  background-color: var(--color_neutral-300);
  margin: auto;
  padding: 0;
}

section.hero {
  height: min(40vh, 20em);
  margin-bottom: 7rem;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-image: url(img/stock/tre_trinn.jpg);

  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--color_neutral-100);
  z-index: 1;
}
section.hero::before {
  content: "";
  position: absolute;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0.2) 20%,
    rgba(0, 0, 0, 0) 50%
  );
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
section.hero > * {
  z-index: 5;
}

section.hero .heroCard {
  display: flex;
  flex-direction: column;
  width: 80%;
  position: relative;
  /* width: clamp(80%, 500px, 50%); */
  align-items: center;
  justify-content: center;
  margin-top: 15rem;
  margin-bottom: -4rem;
  padding: 1em;
  background-color: var(--color_neutral-100);
  color: var(--color_neutral-800);
  box-shadow: 0 0 2.5em rgba(0, 0, 0, 0.2);
}
section.hero .heroCard::before {
  content: "";
  position: absolute;
  background-color: var(--color_accent);
  height: 7px;
  width: 100%;
  top: -7px;
}
@media only screen and (max-width: 400px) {
  section.hero .heroCard {
    width: 100%;
  }
  
}

section.hero .heroCard h1 {
  color: var(--color_neutral-900);
  font-size: 2rem;
  position: relative;
  font-weight: 750;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0.2em 0 0.5em 0;
  /* box-shadow: var(--color_neutral-800); */
}

section.hero .heroCard h3 {
  font-size: 1.4rem;
}

.grid {
  display: grid;
  /* max-width: 600px; */
  /* grid-template-rows:min-content; */
  /* grid-template-columns: 1fr 1fr; */
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
  gap: 1em;
  margin: 1em;
}

/* section.products {
  background-color: var(--color_neutral-100);
  padding: 1em;
  columns: 1;
}
@media screen and (max-width: 515px) {
  section.products {
    padding: 0;
  }
} */

.productWrapper {
  display: grid;
  grid-template-rows: 2fr;
  justify-items: stretch;
  /* border-radius: 10px; */
  /* align-items: ; */
  /* grid-template-rows: repeat(minmax(100px, 1fr), auto-fit); */
  /* flex-direction: column;
  flex-grow: 1; */
  /* justify-content: center; */
  /* align-items: center; */
  /* height: 100%; */
}
.productWrapper .productImage {
  width: min(70%, 24em);
  margin-bottom: 1em;
}

.productWrapper img.productImage {
  filter: drop-shadow(0 0 10px hsla(0, 0%, 0%, 30%));
  justify-self: center;
  position: absolute;
  bottom: 0;
}

.card--blur {
  height: 15em;
  display: flex;
  position: relative;
  border-radius: 10px 10px 0 0;
  flex-direction: column;
  align-items: center;
  /* background-image: url(./img/stock/blur_bg0.jpg); */
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 1;
}

.sony {
  background-image: url(./img/stock/blur_bg0.jpg);
}
.continental {
  /* background-image: url(./img/stock/continental_bg.jpg); */
  background-image: url(./img/stock/continental_bg.jpg);
}

.cardContainer {
  /* height: 300px; */
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0em;
  /* margin-bottom: 2em; */
  /* margin: .5em; */
  position: relative;
}
.cardContainer img.productLogo {
  /* margin-bottom: 0.2em; */
  /* padding: 0; */
  height: 2em;
  margin-bottom: .6em;
  /* display: inline-block; */
  /* width: 100%; */
  /* position: absolute; */
  /* right: 0;
  top: 0; */
  /* margin-bottom: 1em; */
  /* height: 4em; */
}
.logoModelnameWrapper {
  /* display: flex; */
  /* flex-direction: column; */
  margin: 1em;
  /* justify-content: space-between; */
  /* align-content: space-between; */
  /* align-items: flex-end; */
  /* margin-bottom: 1em; */
}
.brandModel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
}
/* .logoModelnameWrapper:not(:last-child) {
  margin: 1em;
} */

.cardContainer h3 {
  color: var(--color_neutral-900);
  font-size: 1.5rem;
  /* margin-bottom: 0.2em; */
  line-height: 1;
  letter-spacing: 0.4px;
  display: inline-block;


}
.cardContainer p {
  line-height: 1.5;
  color: var(--color_neutral-700);
  /* margin-bottom: 0.5em; */
  /* margin: 1em; */
  text-justify: inter-character;
}
.cardContainer .btn {
  position: relative;
  /* border-radius: 0 0 10px 10px; */
}

section.socialMedia {
  display: flex;
  height: 20rem;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 1rem 2rem;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.2) 50%,
      rgba(0, 0, 0, 0) 70%
    ),
    url(./img/stock/igfb_story-2307.jpg);
  background-position: 0% 80%;
  background-size: cover;
}

section.socialMedia h2 {
  color: #fff;
  position: relative;
  width: 100%;
  margin-bottom: 0.2em;
}
section.socialMedia h2::after {
  content: "";
  position: absolute;
  width: 100%;
  /* width: 90vw; */
  height: 3px;
  background-color: var(--color_accent);
  left: -2rem;
  bottom: -0.1em;
  overflow-x: hidden;
}

section.socialMedia p {
  color: #fff;
}

section.socialMedia .link {
  position: relative;
  align-self: center;
  margin-bottom: -1rem;
  padding: 0.5em 1em;
}

section.bgBreak {
  padding: 2em;
  height: 10em;
  background-image: url(img/stock/brs_ptrn.svg);
  background-size: cover;
}

.outlet {

}

.bgBreak .cardContainer {
padding: 1em 2em;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 2em; */
  height: 10em;
}
.followUs {
  margin: 1em 0em;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}
footer i {
  margin: 0em .5em;
}
