*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: var(--color_neutral-800);
  background-attachment: fixed;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}
a {
  text-decoration: none;
}

a.textLink {
  color: var(--color_neutral-100);
  position: absolute;
  display: inline-block;
  align-self: flex-end;
  text-decoration: underline;

}

.btn {
  text-transform: uppercase;
  color: var(--color_neutral-100);
  background-color: var(--color_accent);
  font-weight: bold;
  font-kerning: 1px;
  padding: 1em 2em;
  text-align: center;
}

:root {
  --color_accent: hsl(14, 100%, 43%);
  --color_neutral-100: hsl(0, 0%, 95%);
  --color_neutral-400: hsl(0, 0%, 70%);
  --color_neutral-600: hsl(0, 0%, 30%);
  --color_neutral-800: hsl(0, 0%, 16%);
  /* --containWidth: clamp(100%, 100%, 100%); */
  --containWidth: min(100%, 40em);
}

.header {
  display: flex;
  position: absolute;
  width: 100%;
  flex-direction: column;
  /* background-color:  */
}
.header .myContain__header {
  /* height: auto; */
  margin: auto;
  width: var(--containWidth);
  /* max-width: 40rem; */
  /* background-color: violet; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  /* outline: 1px solid violet; */
  z-index: 5;
}

.header img.logo {
  height: 3em;
}
.header ul {
  display: flex;
  flex-flow: row;
  flex-direction: row;
  /* outline: 1px solid violet; */
  /* width: 40%; */
}
.header ul li {
  list-style: none;
  margin-left: 1.2em;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 500;
  font-kerning: 1px;
  /* outline: 1px solid violet; */
}
.header ul li a {
  color: var(--color_neutral-100);
  font-weight: 500;
}
.header ul li a:hover {
  color: var(--color_neutral-100);
  font-weight: 700;
}

.myContain {
  width: var(--containWidth);
  background-color: var(--color_neutral-100);
  margin: auto;
  padding: 0;
}

section.hero {
  height: 60vh;
  max-height: 50vh;
  margin-bottom: 5em;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-image: url(img/stock/tre_trinn.jpg);
  background-position: center;
  background-size: cover;
  color: var(--color_neutral-100);
  z-index: 1;
}
section.hero::before {
  content: "";
  position: absolute;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0.2) 20%,
    rgba(0, 0, 0, 0) 50%
  );
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
section.hero > * {
  z-index: 5;
  /* outline: 1px solid violet; */
}

section.hero .heroCard {
  display: flex;
  flex-direction: column;
  width: 80%;
  position: relative;
  /* width: clamp(80%, 500px, 50%); */
  align-items: center;
  justify-content: center;
  margin-top: 15rem;
  margin-bottom: -4rem;
  padding: 1em;
  background-color: var(--color_neutral-100);
  color: var(--color_neutral-800);
  box-shadow: 0 0 2.5em rgba(0, 0, 0, 0.2);
}
section.hero .heroCard::before {
  content: "";
  position: absolute;
  background-color: var(--color_accent);
  height: 7px;
  width: 100%;
  top: -7px;

}

section.hero .heroCard h1 {
  font-size: 2rem;
  position: relative;
  font-weight: 750;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0.2em 0 0.5em 0;
  box-shadow: var(--color_neutral-800);
}



section.hero .heroCard h3 {
  font-size: 1.4rem;
}

section.products {
  background-color: var(--color_neutral-100);
  padding: 1em;
  columns: 1;
}

.productWrapper {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.productWrapper img {
  width: 70%;
  margin-bottom: 1em;

}

.productWrapper img.productImage {
  filter: drop-shadow(0 0 10px hsla(0, 0%, 0%, 30%));
}

.cardContainer {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin-bottom: 2em;
}
.cardContainer img.productLogo {
  margin-bottom: 0.2em;
  padding: 0;
  /* margin-bottom: 1em; */
  /* height: 4em; */
}
.cardContainer h3 {
  font-size: 1.8rem;
  margin-bottom: 0.2em;
}
.cardContainer p {
  margin-bottom: 0.5em;
  text-justify: inter-character;
}
.cardContainer .btn {
  position: relative;
}

section.socialMedia {
  display: flex;
  height: 50vh;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 1rem 2rem;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.2) 50%,
      rgba(0, 0, 0, 0) 70%
    ),
    url(./img/stock/igfb_story-2307.jpg);
  background-position: 0% 100%;
  background-size: cover;
}

section.socialMedia h2 {
  color: #fff;
  position: relative;
  width: 100%;
  margin-bottom: .2em;
}
section.socialMedia h2::after {
  content: '';
  position: absolute;
  width: 100%;
  /* width: 90vw; */
  height: 3px;
  background-color: var(--color_accent);
  left: -2rem;
  bottom: -.1em;
  overflow-x: hidden;
}

section.socialMedia p {
  color: #fff;
}

section.socialMedia .link {
  position: relative;
  align-self: center;
  margin-bottom: -1rem;
  padding: .5em 1em;
}

footer {
  padding: 2em;
  height: 100vh;
}
